<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>회원 가입 페이지</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
  
 	<h2>회원 가입</h2>
    <form th:action="@{/member/signup}" th:object="${member}" method="post">
    	<input type="text" name="id" placeholder="아이디를 입력해주세요">
        <input type="text" name="email" placeholder="이메일 입력해주세요">
        <input type="password" name="password" placeholder="비밀번호">
        <div class="container" role="group">
        	<input type="submit" class="btn btn-danger inline" value="회원가입" />
        	<a class="btn btn-primary inline" href="/member/login">로그인</a>
        </div>
    </form>
	
  </div>
</body>
</html>