<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
 	<title>메인 데이터</title>
 	<th:block th:insert="common/head"></th:block>
</head>
<body>
<div class="fluid-container">
	<th:block th:insert="common/header"></th:block>
	<div class="container">
	<h2>메인 페이지</h2>
	
	<img src="${path1 }/templates/img/main.jpg" alt="더미이미지">
	<img src="${path1 }/static/img/main.jpg" alt="main"></img>


	<th:block th:insert="common/footer"></th:block>
</div>
</body>
</html>