<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 <head>
 	<title>tymeleaf 테스트2</title>
 </head>
 <body class="hold-transition sidebar-mini layout-fixed">
 	<div class="wrapper">
 		<h1>테스트 화면8</h1>
 		<table>
 			<tbody th:object="${sample}">
 				<tr>
 					<td>아이디 : </td>
 					<td>
 						<input type="text" th:value="${sample.id}" id="id" name="id">
 					</td>
 				</tr>
 				<tr>
 					<td>비밀번호 : </td>
 					<td>
 						<input type="password" th:value="${sample.pw}" id="pw" name="pw">
 					</td>
 				</tr>
 				<tr>
 					<td>성별 : </td>
 					<td>
 						<select th:field="${gender}" id="gender" name="gender">
 							<option th:value="'M'" th:text="Male"></option>
 							<option th:value="'F'" th:text="Female"></option>
 						</select>
 					</td>
 				</tr>
 				 <tr>
 					<td>성별2 : </td>
 					<td>
 						<select id="gender2" name="gender2">
 							<option value="">선택</option>
 							<option th:each="gender : ${genderList}" th:value="gender" th:text="gender"></option>
 						</select>
 					</td>
 				</tr>
 				 <tr>
 					<td>성별3 : </td>
 					<td>
						<div th:each="gender : ${genderList}">
							<label th:text="${gender}"></label>
							<th:block th:if="${gender} == 'M'">
								<input type="radio" id="gender3_0" name="gender3" value="${gender}">
							</th:block>
							<th:block th:unless="${gender} == 'M'">
								<input type="radio" id="gender3" value="${gender}">
							</th:block>
						</div>
 					</td>
 				</tr>
 			</tbody>
 		</table>
  	</div>
 </body>
</html>